body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  main {
    padding-top: 80px; 
    max-width: 800px;
    margin: 0 auto;
  }

  form {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  input[type="text"],
  input[type="date"],
  select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    grid-column: span 4;
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task-title {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  li button {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
  }

  li button:hover {
    background-color: #c82333;
  }
}

@media (max-width: 767px) {
  header {
    padding: 10px 0;
  }

  main {
    padding-top: 60px; 
    padding: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea,
  select {
    margin-bottom: 10px;
    width: 100%;
  }

  button {
    margin-top: 10px;
    width: 100%;
  }
}
